button {
  width: 70px;
  font-family: inherit;
  background-color: white;
  border: 1px solid grey;
  &:hover {
    background-color: rgb(209, 209, 209);
  }
  &:active {
    background-color: grey;
  }
}

.logout-element {
  position: absolute;
  right: 20px;
  top: 20px;
}

@media (max-width: 850px) {
  .logout-element {
    position: static;
  }
}
