.add-portfolio-container {
  margin: 40px auto;
  padding: 0 20%;
  width: 60%;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 20px;

  form {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid grey;

    .info-container {
      display: flex;
      flex-direction: column;

      textarea {
        font-family: inherit;
        font-size: inherit;
        box-sizing: border-box;
        margin: 5px 0;
        border: 1px solid grey;
        resize: none;
        outline: none;
      }
    }
    input {
      font: inherit;
      margin: 5px 0;
    }
  }
}

.edit-portfolio-container {
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    button {
      margin-top: 20px;
    }
    .image-container {
      position: relative;
      .image-checkbox {
        width: 20px;
        height: 20px;
        position: absolute;
        right: 5px;
        top: 5px;
        z-index: 1;
      }
    }
  }
}
