.navigation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-top: 20px;
  margin-left: 30px;
  margin-bottom: 20px;
  .navigation-element {
    width: fit-content;
    text-decoration: none;
    color: black;
    &:hover {
      color: grey;
    }
    h2 {
      margin: 0;
      font-weight: 300;
      font-size: 1.6rem;
    }
  }
  .login-element {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(205, 205, 205);
    right: 20px;
    top: 20px;
  }
}

@media (max-width: 850px) {
  .navigation-container {
    margin-left: 20px;
    // button {
    //   width: 100px;
    // }
  }
}
