.portfolio-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 40px auto 0;
  padding: 0 20%;
  width: 60%;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 20px;
  .portfolio-series-container {
    padding-bottom: 30px;
    margin-bottom: 50px;
    .image-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 10px;
      img {
        max-height: 200px;
        margin-top: 20px;
        transition: transform 0.1s 0s ease;
        &:hover {
          transform: translateY(-4px);
          -webkit-filter: opacity(40%);
          filter: opacity(40%);
        }
      }
    }
  }
}
