.portfolio-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 40px auto 0;
  padding: 0 20%;
  width: 60%;
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 20px;
  .portfolio-series-container {
    padding-bottom: 30px;
    margin-bottom: 50px;
    .images-container {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
      .image-container {
        margin-top: 20px;
        img {
          max-height: 160px;
          transition: transform 0.1s 0s ease;
          &:hover {
            transform: translateY(-4px);
            -webkit-filter: opacity(40%);
            filter: opacity(40%);
          }
        }
      }
    }
  }
}

@media (max-width: 850px) {
  .portfolio-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0 20px 0 20px;
    width: 100%;
    .portfolio-series-container {
      border-bottom: 1px solid grey;
      img {
        max-width: 100%;
      }
    }
  }
}

.edit {
  padding: 0;
  border: 1px solid grey;
  .portfolio-series-container {
    margin: 10px;
    border-bottom: 1px solid grey;
  }
}
