.login-container {
  display: flex;
  justify-content: center;
  margin: 40px auto 100px;
  padding: 0 20%;
  width: 60%;
  align-content: center;
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    label {
      font-size: 1.3rem;
    }
    input {
      font: inherit;
      margin: 10px 0;
      width: 60%;
      height: 30px;
    }
  }
}

@media (max-width: 850px) {
  .login-container {
    box-sizing: border-box;
    width: 100%;
    padding: 0;
    form {
      width: 100%;
    }
  }
}
